.avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-border-default);
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 48px;
  height: 48px;
}

.large {
  width: 296px;
  height: 296px;
}

@media (max-width: 1012px) {
  .large {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .large {
    width: 80px;
    height: 80px;
  }
}

