.skeleton {
  background: linear-gradient(
    90deg,
    var(--color-neutral-muted) 25%,
    var(--color-canvas-subtle) 50%,
    var(--color-neutral-muted) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.text {
  height: 1em;
  border-radius: 4px;
  width: 100%;
}

.circular {
  border-radius: 50%;
}

.rectangular {
  border-radius: 6px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

